<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <xacro:macro name="ros2_control" params="HW_mode">
        
        <ros2_control name="RCSystemHardware" type="system">
            <xacro:if value="${HW_mode == 'real'}">
                <hardware>    
                    <plugin>redcat_hardware/ESPSystemHardware</plugin>
                    <param name="device">can0</param>
                    <param name="baud_rate">500000</param>
                    <param name="timeout">5</param>
                    <param name="loop_rate">1000</param>
                </hardware>
            </xacro:if>
            
            <xacro:if value="${HW_mode == 'mock'}">
                <hardware>
                    <plugin>mock_components/GenericSystem</plugin>
                </hardware>
            </xacro:if>

            <joint name="drive_joint">
                <command_interface name="velocity"/>                    
                <state_interface name="velocity"/>
            </joint>

            <joint name="steering_joint">
                <command_interface name="position"/>
                <state_interface name="position"/>
            </joint>

        </ros2_control>
    </xacro:macro>

</robot>